.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info__sub-block{
    display: flex;
    gap: 16px;
}
.contact-info__sub-value{
    display: flex;
    gap: 16px;
    align-items: center;
}
.contact-info__sub-value:not(:last-child)::after{
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: #000;
}
p{margin-top: 28px;
 color: #000;
font-size: 16px;
}